@import "../../globals";

.card {
  border-radius: $defaultBorderRadius;
  // border: 1px solid #8080802f;

  overflow: hidden;
  gap: 0.7rem;
  padding-bottom: 1rem;
  &:hover h3 {
    color: $green;
    text-transform: uppercase;
  }
  .card-img {
    img {
      border-radius: $defaultBorderRadius;
      display: block;
      width: 100%;
      // height: 250px;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: 0 0;
    }
    p {
      font-size: 12px;
      position: absolute;
      color: #fff;
      padding: 4px 20px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $green;
      border-radius: $defaultBorderRadius;
      transform: translateY(calc(-100% - 1rem));
      margin-left: 0.65rem;
      text-align: justify;
    }
  }

  .text-part {
    gap: 0.7rem;
    .info {
      gap: 1rem;
      span {
        color: $black05;
        font-size: 11px;
      }
    }
    .content {
      font-size: 14px;
      color: $black025;
    }

    button {
      color: $black05;
      font-size: 14px;
      font-weight: 600;
      width: max-content;
    }
  }
}

.mini-card {
  grid-template-columns: 1fr 2.8fr;
  column-gap: 1rem;
  padding: 1rem 0;
  img {
    display: block;
    border-radius: $defaultBorderRadius;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: 0 0;
  }
  .text {
    h3 {
      font-size: 15px;
      text-transform: uppercase;
    }
    span {
      color: $black05;
      font-size: 11px;
      i {
        font-weight: normal;
      }
    }
  }
}

.photo-card {
  img {
    display: block;
    border-radius: $defaultBorderRadius;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: 0 0;
  }
  .overlay {
    border-radius: $defaultBorderRadius;
    top: 0;
    left: 0;
    color: #fff;
    gap: 1rem;
    padding: 1.5rem;
    align-items: flex-end;
    justify-content: center;
    background-color: #00000065;
    div {
      gap: 1rem;
      h3,
      p,
      .info {
        width: max-content;
        margin: auto;
      }
      h3 {
        color: inherit;
        text-transform: uppercase;
        width: 100%;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      p {
        font-size: 12px;
        padding: 4px 20px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $green;
        border-radius: $defaultBorderRadius;
      }
      .info {
        gap: 1rem;
        span {
          color: $black05;
          font-size: 11px;
          color: inherit;
        }
      }
    }
  }
}
