@import "../../../components/globals";

@mixin imgmixin {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: $defaultBorderRadius;
}

.singlepage {
  max-width: $defaultWidth;
  margin: auto;
  .main-content {
    row-gap: 3rem;

    .pagedetailscont {
      row-gap: 2rem;
      .postimg img {
        @include imgmixin();
      }
      // header
      > header {
        row-gap: 1rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $hoverGray;
        // links
        .links {
          color: $black025;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          a,
          span {
            text-transform: lowercase;
            font-size: 13px;
            color: inherit;
            &:hover {
              color: $green;
            }
          }
          a:first-of-type {
            text-transform: capitalize;
          }
        }

        // categories
        .categories {
          column-gap: 0.5rem;
          button {
            padding: 4px 12px;
            background-color: black;
            text-transform: uppercase;
            &:last-of-type {
              background-color: $green;
            }
          }
        }

        h2 {
          font-size: 30px;
          color: $black1;
          text-transform: uppercase;
          padding: 1rem 0 0;
          line-height: 2rem;
          font-weight: 600;
        }

        // views and info
        .info {
          gap: 1rem;
          padding-bottom: 1rem;
          span {
            color: $muted2;
            font-size: 11px;
            text-transform: uppercase;
          }
        }

        // share
        .share {
          column-gap: 0.5rem;
          span {
            color: $muted2;
          }
          .follow-tab {
            header {
              display: none;
            }
            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;
            }
          }
        }
      }

      // content
      .page-content {
        gap: 2.5rem;
        p {
          color: $black025;
          line-height: 1.6rem;
          text-align: justify;
          a {
            color: #0000ee;
          }
        }
        img {
          @include imgmixin();
          margin: 1rem 0 2rem;
        }
      }
      // tags
      .tags {
        margin: {
          top: 1rem;
          bottom: 1rem;
        }
        column-gap: 0.5rem;
        span {
          color: $muted2;
        }
        div {
          gap: 0.5rem;
          a {
            padding: 0.3rem 0.75rem;
            color: #fff;
            background-color: black;
            border-radius: $defaultBorderRadius;
            font-size: 11px;
            text-transform: uppercase;
          }
        }
      }

      // author
      .author {
        .comment {
          background-color: transparent;
          .text-part {
            span {
              display: none;
            }
          }
        }
      }
    }

    // comments
    .comments {
      grid-column: 1 / 3;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      align-items: start;
      margin-bottom: 3rem !important;
      .main {
        .inner {
          gap: 2rem;
          .comment .text-part {
            .social-links {
              display: none;
            }
          }
        }
        .paginate {
          grid-template-columns: 1fr;
          button {
            border: none;
            color: $green;
            font-weight: 700;
          }
        }
      }

      aside {
        padding: 2rem 1rem;
        background-color: rgba(221, 221, 221, 0.18);
        background-color: $black1;
        border-radius: $defaultBorderRadius;
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;
        position: sticky;
        top: 3rem;
        p {
          color: #fff;
        }
        form {
          display: grid;
          gap: 1rem;
          input,
          textarea {
            padding: 0.3rem 1rem;
            border: 1px solid $hoverGray;
            border-radius: $defaultBorderRadius;
            &::placeholder {
              color: $muted;
              font-weight: 600;
            }
          }
          textarea {
            height: 80px;
            resize: none;
          }
          button {
            font-size: 1rem;
            font-weight: 500;
            background-color: $green;
            color: #fff;
          }
        }
      }
    }
  }
  .more-content {
    .card-cont {
      min-height: auto;
    }
    .paginate {
      margin: 0;
      // border-top: none;
    }
  }
}

// components
.comment {
  border-radius: $defaultBorderRadius;
  gap: 2rem;
  align-items: flex-start;
  background-color: rgba(221, 221, 221, 0.18);
  padding: 1.5rem 1rem;
  grid-template-columns: 70px 20fr;

  .text-part {
    color: $black025;
    font-size: 13px;
    .name {
      text-transform: uppercase;
      color: $green;
      font-weight: normal;
      font-size: 14px;
      font-weight: 500;
      span {
        color: $black025;
        font-size: 11px;
        font-weight: 500;
      }
    }

    .social-links {
      margin-top: 0.75rem;
      column-gap: 0.75rem;
      svg {
        color: $muted;
        height: 16px;
        width: 16px;
      }
    }
  }
  img {
    border-radius: inherit;
    display: block;
    width: 70px;
    border-radius: $defaultBorderRadius;
  }
}
