$shad: 0 2px 8px 0px rgba(121, 120, 120, 0.527);

// new global
$fbg: #e8ebef;
$blue: #5994cc;
$gray: #a3a7b3;
$gray: #5e5e5e;

$trans: all 0.35s;
$shadow: 0 0 20px -3px rgb(175, 175, 175);
$pink: #ed859c;
$navGray: #38475d;
$navG: #2d394b;
$width: 87.7vw;
$muted: #808080aa;
$lightBlack: rgba(0, 0, 0, 0.759);
$hoverGray: #8080802f;
$danger: rgba(255, 78, 78, 0.678);
$blue: #5994cc;

$defaultWidth: 1200px;
$defaultBorderRadius: 0.5rem;
$green: #17bb6c;
$green: #ba004b;

$black1: #333333;
$black05: #222222;
$black025: #777777;
$muted2: #999999;

$muted1: #f3f3f3;
