@import "../components/globals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system ui", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4rem;
  letter-spacing: 0.75px;
}

h3 {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  &:focus,
  &:active {
    outline: none;
  }
}

img {
  display: inline-block;
}
input,
textarea {
  &:focus {
    outline: none;
  }
}

ul,
li {
  list-style: none;
}

// Global Classes
// Transitions

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.shad1 {
  box-shadow: 0 2px 8px -2px #808080aa;
}
.shad2 {
  box-shadow: 0 4px 8px -5px #808080aa;
}

.trans {
  transition: all 0.35s;
}

// hover

// utils

.rg-1 {
  row-gap: 1rem;
}

.c-white {
  color: white;
}
.size-100 {
  width: 100%;
  height: 100%;
}
.bg-w {
  background-color: #fff;
}

.f-bold {
  font-weight: bold;
}

.p-abs {
  position: absolute;
}
.p-rel {
  position: relative;
}
.p-fixed {
  position: fixed;
}
.tx-50 {
  transform: translateX(-50%);
}
.ty-50 {
  transform: translateY(-50%);
}
.tx50 {
  transform: translateX(50%);
}
.ty50 {
  transform: translateY(50%);
}

// flex-box
.d-flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jic {
  justify-items: center;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
// grid
.d-grid {
  display: grid;
}

// block
.d-block {
  display: block;
}
// components
.btn {
  cursor: pointer;
  background-color: #17bb6c;
  color: white;
  padding: 0.825rem 1.65rem;
  border-radius: 0.5rem;
  &:hover {
    box-shadow: none;
  }
  &:active {
    transform: scale(1.05);
  }
}

svg {
  transform: translateY(2px);
}
//normal css
// .images.open {
//   cursor: url(../imgs/close1.png), auto;
// }

.header {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  h3 {
    margin-right: auto;
    background-color: #ba004b;
    color: #fff;
    padding: 0.6rem 2rem;
    font-size: 12px;
    width: max-content;
    font-weight: 500;

    text-transform: uppercase;
  }
}

// pagination
.paginate {
  margin: 2rem 0;
  grid-template-columns: repeat(2, 1fr);

  border: {
    top: 1px solid #8080802f;
    bottom: 1px solid #8080802f;
  }
  button {
    padding: 2rem;
    color: #777777;
    text-transform: uppercase;

    &:first-of-type {
      border-right: 1px solid #8080802f;
    }
    &.inactive {
      color: #8080802f;
      cursor: default;
    }
  }
}

.alerts {
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: $lightBlack;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  transition: visibility 0.3s, opacity 0.3s;
  .inner {
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    padding: 1rem;
    margin: 2rem;
    gap: 1rem;
    box-shadow: $shad;
    color: green;
    &.error {
      color: red;
    }
  }
}
