@import "../components/globals";
// colors
// $orange: #f68b1e;
// $orange: #f3683e;
// $green: #62ce02;
// #808080aa: rgba(128, 128, 128, 0.507);
// $lightBlack: rgba(0, 0, 0, 0.719);
// $hoverGray: rgba(128, 128, 128, 0.185);
// $gree#808080aa: #61ce026c;
// $gree#808080aa2: white;
// $danger: rgba(255, 78, 78, 0.678);
// $blue: #5994cc;

// Global Element Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system ui", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4rem;
  letter-spacing: 0.75px;
}

body {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
    &:hover {
      background: #808080aa;
    }
    &:active {
      background: gray;
    }
  }
}

h3 {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  &:focus,
  &:active {
    outline: none;
  }
}

img {
  display: inline-block;
}
input,
textarea {
  &:focus {
    outline: none;
  }
}

ul,
li {
  list-style: none;
}

// Global Classes
// Transitions
.rotate {
  transform: rotateZ(180deg) !important;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
.shad {
  box-shadow: 0 2px 8px 0px rgba(121, 120, 120, 0.527);
}
.shad1 {
  box-shadow: 0 2px 8px -2px #808080aa;
}
.shad2 {
  box-shadow: 0 4px 8px -5px #808080aa;
}
.shad3 {
  box-shadow: 0 10px 25px -5px rgb(83, 83, 83);
}

.trans {
  transition: all 0.35s;
}

// hover

.hover-shad {
  &:hover {
    box-shadow: 0 2px 8px 0px rgba(121, 120, 120, 0.527);
  }
}
.hover-shad3 {
  &:hover {
    box-shadow: 0 10px 25px -5px rgb(83, 83, 83);
  }
}

// utils
.c-white {
  color: white;
}
.bg-w {
  background-color: #fff;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.m-auto {
  margin: auto;
}
.b-none {
  border: none;
}
.br-05 {
  border-radius: 0.5rem;
}
.br-1 {
  border-radius: 1rem;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.size-100 {
  @extend .h-100, .w-100;
}

.f-18 {
  font-size: 1.125rem;
}
.f-16 {
  font-size: 1rem;
}
.f-14 {
  font-size: 0.875rem;
}
.f-13 {
  font-size: 0.825rem;
}
.f-12 {
  font-size: 0.75rem;
}
.f-bold {
  font-weight: bold;
}
.f-bold5 {
  font-weight: 500;
}
.f-bold6 {
  font-weight: 600;
}
.f-bold7 {
  font-weight: 700;
}
.text-c {
  text-align: center;
}
.p-abs {
  position: absolute;
}
.p-rel {
  position: relative;
}
.p-fixed {
  position: fixed;
}
.tx-50 {
  transform: translateX(-50%);
}
.ty-50 {
  transform: translateY(-50%);
}
.tx50 {
  transform: translateX(50%);
}
.ty50 {
  transform: translateY(50%);
}

// flex-box
.d-flex {
  display: flex;
}
.aic {
  align-items: center;
}
.jic {
  justify-items: center;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
// grid
.d-grid {
  display: grid;
}
.rg-05 {
  row-gap: 0.5rem;
}
.rg-1 {
  row-gap: 1rem;
}
.cg-05 {
  column-gap: 0.5rem;
}
.cg-1 {
  column-gap: 1rem;
}
// block
.d-block {
  display: block;
}
// components
.btn {
  cursor: pointer;
  background-color: #17bb6c;
  color: white;
  padding: 0.825rem 1.65rem;
  border-radius: 0.5rem;
  &:hover {
    box-shadow: none;
  }
  &:active {
    transform: scale(1.05);
  }
}
.closebtn {
  width: 45px;
  height: 45px;
  background-color: rgb(238, 253, 235);
  right: -5%;
  top: -5%;
  border-radius: 50%;
  i.fa-times {
    z-index: 5;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
// .error {
//   color: red !important;
// }
// .inputerror {
//   color: red;
//   box-shadow: 0 0 2px 0.5px red;
//   &:focus {
//     color: red !important;
//     box-shadow: 0 0 2px 0.8px red !important;
//   }
// }

// [class*="fa-caret"] {
//   transform: translateY(1px);
// }
i.fa {
  transform: translateY(1px);
}
//normal css
// .images.open {
//   cursor: url(../imgs/close1.png), auto;
// }

.header {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  h3 {
    margin-right: auto;
    background-color: #ba004b;
    color: #fff;
    padding: 0.6rem 2rem;
    font-size: 12px;
    width: max-content;
    font-weight: 500;

    text-transform: uppercase;
  }
}

// pagination
.paginate {
  margin: 2rem 0;
  grid-template-columns: repeat(2, 1fr);

  border: {
    top: 1px solid #8080802f;
    bottom: 1px solid #8080802f;
  }
  button {
    padding: 2rem;
    color: #777777;
    text-transform: uppercase;
    i {
      padding: 0 1.5rem;
    }
    &:first-of-type {
      border-right: 1px solid #8080802f;
    }
    &.inactive {
      color: #8080802f;
      cursor: default;
    }
  }
}

.alerts {
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: $lightBlack;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  transition: visibility 0.3s, opacity 0.3s;
  .inner {
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    padding: 1rem;
    margin: 2rem;
    gap: 1rem;
    box-shadow: $shad;
    color: green;
    &.error {
      color: red;
    }
    i {
      font-size: 1.5rem;
    }
  }
}
