* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "system ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4rem;
  letter-spacing: 0.75px;
}

h3 {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus, button:active {
  outline: none;
}

img {
  display: inline-block;
  background-color: #8080802f;
}

input:focus,
textarea:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.shad1 {
  -webkit-box-shadow: 0 2px 8px -2px #808080aa;
          box-shadow: 0 2px 8px -2px #808080aa;
}

.shad2 {
  -webkit-box-shadow: 0 4px 8px -5px #808080aa;
          box-shadow: 0 4px 8px -5px #808080aa;
}

.trans {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.rg-1 {
  row-gap: 1rem;
}

.c-white {
  color: white;
}

.size-100 {
  width: 100%;
  height: 100%;
}

.bg-w {
  background-color: #fff;
}

.f-bold {
  font-weight: bold;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.tx-50 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ty-50 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tx50 {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.ty50 {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jic {
  justify-items: center;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-block {
  display: block;
}

.btn {
  cursor: pointer;
  background-color: #17bb6c;
  color: white;
  padding: 0.825rem 1.65rem;
  border-radius: 0.5rem;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

svg {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.header {
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.header h3 {
  margin-right: auto;
  background-color: #ba004b;
  color: #fff;
  padding: 0.6rem 2rem;
  font-size: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  text-transform: uppercase;
}

.paginate {
  margin: 2rem 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #8080802f;
  border-bottom: 1px solid #8080802f;
}

.paginate button {
  padding: 2rem;
  color: #777777;
  text-transform: uppercase;
}

.paginate button:first-of-type {
  border-right: 1px solid #8080802f;
}

.paginate button.inactive {
  color: #8080802f;
  cursor: default;
}

.alerts {
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.759);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
}

.alerts.show {
  visibility: visible;
  opacity: 1;
}

.alerts .inner {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem;
  gap: 1rem;
  -webkit-box-shadow: 0 2px 8px 0px rgba(121, 120, 120, 0.527);
          box-shadow: 0 2px 8px 0px rgba(121, 120, 120, 0.527);
  color: green;
}

.alerts .inner.error {
  color: red;
}
/*# sourceMappingURL=index.css.map */